/.venv
/Taller 2 - Sebastian Patiño e Ivan melo.pdf
/maquina1.png
/maquina2.png
/maquina3.png
/maquina4.png
/maquina5.png
/maquina6.png
/maquina7.png
/maquina8.png
/maquina9.png
/maquina10.png
/qr_gen.py
